.formControl {
  display: flex;
  flex-direction: column;
}
.formControl > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}
.formControl > div span:last-child {
  font-size: 0.85em;
  font-weight: 500;
  color: hsl(354, 84%, 57%);
}

.input {
  outline: none;
  padding: 0.5rem 0.75rem;
  border-radius: 6px;
  border: 1px solid hsl(231, 11%, 63%);
}
.input:focus {
  border-color: hsl(243, 100%, 62%);
}
.input[data-error="true"] {
  border-color: hsl(354, 84%, 57%);
}
