@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Define Ubuntu font faces */
  @font-face {
    font-family: "Ubuntu";
    src: url("./assets/fonts/Ubuntu-Regular.ttf");
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: "Ubuntu";
    src: url("./assets/fonts/Ubuntu-Medium.ttf");
    font-style: normal;
    font-weight: 500;
  }
  @font-face {
    font-family: "Ubuntu";
    src: url("./assets/fonts/Ubuntu-Bold.ttf");
    font-style: normal;
    font-weight: 700;
  }
}
